<!doctype html>
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation project</title>
    <!-- build:css assets/css/libraries.min.css --><% if (fontAwesome) { %>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"><% } %>
    <% if (owlCarousel) { %>
    <link rel="stylesheet" href="bower_components/owl.carousel.ta/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="bower_components/owl.carousel.ta/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="bower_components/owl.carousel.ta/owl-carousel/owl.transitions.css"><% } %>
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css assets/css/app.min.css -->
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/css/app_override.css">
    <!-- endbuild -->
    <!-- build:js assets/js/vendor/modernizr.min.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div class="row">
      <div class="small-12 small-centered medium-10 medium-centered large-8 large-centered columns panel radius">
        <h1>Yo Foundation 5 Plus!</h1>
        <ul>
          <li>Sass compiling (Ruby or Node/Libsass)</li>
          <li>Jade templating engine (option)</li>
          <li>Publishing to dist directory</li>
          <li>Server with LiveReload</li>
          <li>JSHint</li>
          <li>Grunt Bower install</li>
          <li>Imagemin</li>
          <li>Font Awesome (option)</li>
          <li>Owl Carousel (option)</li>
          <li>NiceScroll (option)</li>
          <li>Fabric (option)</li>
          <li>Threejs (option)</li>
          <li>SpriteSpin (option)</li>
          <li>Bourbon (option)</li>
        </ul>
        <h1>Grunt tasks:</h1>
        <ul>
          <li>'grunt' - watching (Sass, Server on 127.0.0.1:9000 with LiveReload)</li>
          <li>'grunt compile-sass' - Sass</li>
          <li>'grunt compile-jade' - Jade</li>
          <li>'grunt validate-js' - JSHint</li>
          <li>'grunt bower-install' - injecting bower libraries</li>
          <li>'grunt publish' - dist directory</li>
          <li>'grunt server-dist' - server on 127.0.0.1:9001 - dist directory (preview only)</li>
        </ul>
        <h2 class="text-right">
          <a href="https://github.com/tomeralmog/owl.carousel.TA"><% if (fontAwesome) { %><i class="fa fa-github"></i><% } else { %>github<% } %></a>
        </h2>
      </div>
    </div>

    <!-- build:js js/vendor/libraries.min.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js js/vendor/foundation.min.js -->



    <!-- build:js assets/js/vendor/foundation.min.js -->
    <script src="bower_components/foundation/js/foundation/foundation.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.abide.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.accordion.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.alert.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.clearing.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.equalizer.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.interchange.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.joyride.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.magellan.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.offcanvas.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.orbit.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.reveal.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.slider.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.tab.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.tooltip.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.topbar.js"></script>
    <!-- endbuild -->


    <!-- build:js assets/js/app.min.js -->
    <script src="assets/js/app.js"></script>
    <!-- endbuild -->
  </body>
</html>